* {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

nav {
  background: firebrick;
  height: 4.25rem;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  line-height: 4.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15%;
  padding-right: 15%;
}

.nav-hamburger {
  margin-top: 1rem;
  width: 2rem;
}

.trainer-image img {
  width: 100%;
}

#party {
  background-color: rgb(197, 238, 255);
}

.pokemon {
  text-align: center;
}

.pokemon-image {
  width: 100%;
}

.gym-image {
  width: 100%;
}

.gym-leader {
  font-size: 1.5rem;
}
