<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <section class="two-columns">
      <div class="color red">
        I am red
      </div>

      <div class="color blue">
        I am blue
      </div>
    </section>

    <section class="three-columns">
      <div class="color orange">
        I am orange
      </div>

      <div class="color yellow">
        I am yellow
      </div>

      <div class="color green">
        I am green
      </div>
    </section>

    <section class="four-columns">
      <div class="color papayawhip">
        I am papaywhip
      </div>

      <div class="color cornflowerblue">
        I am cornflowerblue
      </div>

      <div class="color lime">
        I am lime
      </div>

      <div class="color fuchsia">
        I am fuchsia
      </div>
    </section>

    <section class="two-columns-multiline">
      <div class="color one">
        I am one
      </div>

      <div class="color two">
        I am two
      </div>

      <div class="color three">
        I am three
      </div>

      <div class="color four">
        I am four
      </div>
    </section>
  </body>
</html>
