<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>Rows</h1>

    <section class="two-columns">
      <div class="color red">
        Flex me to the left
      </div>

      <div class="color blue">
        Flex me to the right
      </div>
    </section>

    <section class="three-columns">
      <div class="color orange">
        Flex me to the left
      </div>

      <div class="color yellow">
        Flex me to the middle
      </div>

      <div class="color green">
        Flex me to the right
      </div>
    </section>

    <section class="two-columns-squished">
      <div class="color papayawhip">
        I only wanna be 40%, and I love my buddy
      </div>

      <div class="color cornflowerblue">
        Me too! <3
      </div>
    </section>

    <section class="two-columns-space-between">
      <div class="color lime">
        I only wanna be 40%, and I hate my buddy.
      </div>

      <div class="color fuchsia">
        Yeah, that guy's the worst.
      </div>
    </section>

    <section class="two-columns-space-around">
      <div class="color coral">
        I only wanna be 30%, and I like space all around me.
      </div>

      <div class="color skyblue">
        Uh, yup, what red said.
      </div>
    </section>

    <section class="two-columns-reversed">
      <div class="color red">
        I wanna be on the right
      </div>

      <div class="color blue">
        I wanna be on the left
      </div>
    </section>

    <section class="two-columns-against-the-bottom">
      <div class="color red">
        I want to be 50%, but against the bottom
      </div>

      <div class="color blue">
        I want to be 50%, but against the bottom
      </div>
    </section>

    <section class="two-columns-multiline">
      <div class="color top-left">
        I'm going to be in the top row, on the left
      </div>

      <div class="color top-right">
        I'm going to be in the top row, on the right
      </div>

      <div class="color bottom-left">
        I'm going to be in the bottom row, on the left
      </div>

      <div class="color bottom-right">
        I'm going to be in the bottom row, on the right
      </div>
    </section>

    <h1>Columns (wait, what?)</h1>

    <section class="two-columns-vertical">
      <div class="color gray-one">
        I'd like us to be arranged in colums instead of rows.
      </div>

      <div class="color gray-two">
        I am two
      </div>

      <div class="color gray-three">
        I am three
      </div>

      <div class="color gray-four">
        I am four
      </div>

      <div class="color gray-five">
        I am five
      </div>

      <div class="color gray-six">
        I am six
      </div>
    </section>

    <section class="two-columns-vertical-reversed">
      <div class="color gray-one">
        Again again! Backwards this time.
      </div>

      <div class="color gray-two">
        I am two
      </div>

      <div class="color gray-three">
        I am three
      </div>

      <div class="color gray-four">
        I am four
      </div>

      <div class="color gray-five">
        I am five
      </div>

      <div class="color gray-six">
        I am six
      </div>
    </section>
  </body>
</html>
