body {
  color: white;
  font-family: Arial;
  font-size: 24px;
}

h1 {
  background-color: coral;
  margin: 0;
  padding: 24px;
}

section {
  padding: 100px;
}

.two-columns {
  background: slategray;
  display: flex;
  justify-content: center;

}

.three-columns {
  background: lightgray;
  display: flex;
  justify-content: center;
}

.two-columns-squished {
  background: slategray;
  display: flex;
}

.two-columns-space-between {
  background: lightgray;
  display: flex;
  justify-content: space-between;
}

.two-columns-space-around {
  background: slategray;
  display: flex;
  justify-content: space-around;
}

.two-columns-reversed {
  background: lightgray;
  display: flex;
  justify-content:
}

.two-columns-vertical {
  background: slategray;
  display: flex;
  flex-wrap: wrap;
  
}

.two-columns-vertical-reversed {
  background: lightgray;
}

.two-columns-against-the-bottom { /* This rhymes, hehehe */
  background: slategray;
  height: 600px;
}

.two-columns-multiline {
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.color {
  height: 200px;
}

.red {
  background: firebrick;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;

  box-sizing: border-box;
}

.blue {
  background: navy;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;

  box-sizing: border-box;
}

.orange {
  background: orange;
  width: 33%;
}

.yellow {
  background: gold;
  width: 33%;
}

.green {
  background: forestgreen;
  width: 33%;
}

.papayawhip {
  background: papayawhip;
  color: midnightblue;
  width: 40%;
}

.cornflowerblue {
  background: cornflowerblue;
  width: 40%;
}

.lime {
  background: lime;
  width: 40%;

}

.fuchsia {
  background: fuchsia;
}

.coral {
  background: coral;
  width: 30%;
}

.skyblue {
  background: skyblue;
}

.gray-one {
  color: black;
  background: #fff;
}

.gray-two {
  color: black;
  background: #eee;
}

.gray-three {
  color: black;
  background: #ddd;
}

.gray-four {
  color: black;
  background: #ccc;
}

.gray-five {
  color: black;
  background: #bbb;
}

.gray-six {
  color: black;
  background: #aaa;
}
