h1, h2 {
    font-family: "arial";
}
code {
    background-color: lightgrey;
}
.announcement {
  background-color: indianred;
  color: white;
}
/* Apply style to all list items in unordered lists only */
ul li {
  font-family: "Comic Sans MS";
}

/* Make all list items in order list bigger (24px) */
ol li {
  font-size: 24px;
}
/* Make all <code> tags inside announcements black text on white background   */

.announcement code {
color: black;
background-color: white;
}
p:last-child {
color: blue;
}

/* BOX MODEL */
body {
  padding-left: 300px;
  padding-right: 300px;
}
h1, h2 {
  background-color: lightgrey;
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}
ul li{
  background-color: beige;
  margin-bottom: 16px;
}
ol {
  background-color: beige;
  margin-bottom: 12px;
}
  code {
    padding-left: 12px;
    padding-right: 12px;
}
.announcement {
  margin-top: 96px;
  margin-bottom: 96px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
}
.nav-items {
  display: block;
  padding-left: 0;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.nav-item {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
h1, h2 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
