body {
  color: white;
  font-family: Arial;
  font-size: 24px;
}

section {
  padding: 100px;
}

.two-columns {
  background: slategray;
}
.two-columns:after {
  /* CLEARFIX */
  content:"";
  display: table;
  clear: both;
}
.three-columns {
  background: lightgray;
}
  .three-columns:after {
    /* CLEARFIX */
    content:"";
    display: table;
    clear: both;
}
.four-columns {
  background: darkgray;
}
  .four-columns:after {
    /* CLEARFIX */
    content:"";
    display: table;
    clear: both;
}
.color {
  height: 200px;
}

.red {
  background: firebrick;
  width:47.5%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.blue {
  background: navy;
  width:47.5%;
  float: left;
}
.orange {
  background: orange;
  width:25%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.yellow {
  background: gold;
  width:25%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
  .green {
    background: green;
    width:25%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.cyan {
  background: cyan;
  width:20%;
  float: left;
}
.magenta {
  background: magenta;
  width:20%;
  float: left;
}
.yellow2 {
  background: yellow;
  width:20%;
  float: left;
}
.black {
  background: black;
  width:20%;
  float: left;
}
.one {
  background: cyan;
  width:50%;
  float: left;
}
.two {
  background: magenta;
  width:50%;
  float: left;
}
.three {
  background: yellow;
  width:50%;
  float: left;
}
.four {
  background: black;
  width:50%;
  float: left;
}
